frontend/node_modules/
frontend/coverage/
frontend/build/
frontend/package-lock.json
backend/__pycache__/*
backend/Lib/
backend/Scripts/
backend/pyvenv.cfg
backend/**/*.pyc
worker/visaji/Visaji/obj
worker/visaji/Visaji/bin
worker/visaji/.editorconfig
worker/visaji/.vs/visaji/DesignTimeBuild/.dtbcache.v2
worker/visaji/.vs/visaji/v16/.suo
worker/visaji/.vs/visaji/v16/TestStore/0/000.testlog
worker/visaji/.vs/visaji/v16/TestStore/0/testlog.manifest
backend/.vs/VSWorkspaceState.json
backend/.vs/slnx.sqlite
backend/.vs/backend/v16/.suo
backend/.venv
backend/config.zip